body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.7fr 5fr;
    grid-template-rows: 0.5fr 5fr;
}

header{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    background-color: #3AAFA9;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 48px;
    letter-spacing: 0.4px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;

}

.sidebar{
    background-color: #82D3B2;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 1vh 1vh 0vh 1vh;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
}

input{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
}

#main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    grid-auto-rows: 45vh;
    justify-content: center;
    gap: 10em;
    overflow: auto;
    padding: 5px 5px 5px 5px;
    background-color: #EF9F9F;
}

.gridDiv{
    background-color: #feb931;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 40% 10px;
    border-radius: 10px;
}

.editAndDel{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.delButton,
.editButton{
    width: 40px;
    height: 40px;
}

input{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    height: 40px;
}

.buttonn-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.buttonn-9:disabled {
  cursor: default;
}

.buttonn-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


.statistics{
    display: grid;
    margin: 1vh 1vh 1vh 1vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
    align-items: center;
}

.pDiv{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: bold;
}
footer {
    margin-top: 10em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7vh;
    letter-spacing: 0.6px;
    word-spacing: 0.8px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
  }

  #an {
    margin-right: 10px;
  }
  a:link {
    text-decoration: none;
  }


  html {
    scroll-behavior: smooth;
  }

@media (max-width: 576px){
    .container{
        display: block;
    }
    .inputs{
        margin: 0vh 8vh;
        padding-top: 3vh;
    }
    .statistics{
        margin: 4vh 7vh;
    }
    #main{
        padding: 0px 5px 0px 5px;
        
    }
    footer{
        margin-top: 0;
        padding-bottom: 20px;
    }
    .sidebar{
        height: 90%;
    }
    header{
        height: 10%;
    }
    .gridDiv{
        margin: 10px 10px;
    }
}


@media only screen and (max-height: 575.98px) and (orientation: landscape) {
        input{
            height: 6vh;
        }
           #main{
            grid-auto-rows: auto;
           }
        
        footer{
            margin-top: 0em;
            padding-bottom: 20px;
            font-size: 2.7vh;
        }
}